.lead__subtitle {
    margin-top: 32px;
    text-align: center;
    margin-left: 176px;
    margin-right: 196px;
    font-size: 30px;
    @media screen and (min-width: 1024px) and (max-width: 1200px){
        margin-left: 192px;
        margin-right: 192px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px){
        margin-left: 62px;
        margin-right: 62px
    }
    @media screen and (min-width: 320px) and (max-width: 768px){
        font-size: 16px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;       
    }
}
