.cover {
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
    @media screen and (max-width: 1280px){
    margin-left: 0;
    margin-right: 0;
    }
    @media screen and (max-width: 1024px){
        margin-top: 90px;
        margin-left: 0;
        margin-right: 0;
    }
    @media screen and (max-width: 768px){
        margin-top: 66px;
        margin-left: 0;
        margin-right: 0;
    }
}