.place__image_img
{
    height: 460px;
    width: 460px;
    @media screen and (max-width: 1200px){
        height: 440px;
        width: 440px;
    }
    @media screen and (max-width: 1024px){
        height: 340px;
        width: 340px;
        
    }
    @media screen and (max-width: 768px){
        height: 100%;
        width: 100%;
 
    }
}