.place__website_link_subtitle {
    position: absolute;
    bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__website_link_subtitle:hover {
    cursor: pointer;
    opacity: 0.8;
}
